.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        display: inline-block;
    }

    &__item + &__item {
        margin-left: 20px;
    }

    .link {
        color: #000;
    }
}
