.icon(@image) {
    &_@{image} {
        background-image: url('./@{image}.svg');
    }
}

.logo {
    background-repeat: no-repeat;
    background-size: 100%;

    &_icon {
        .icon(watermelon-slice);
    }
}
