.header {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 5px 10px 15px;
    border-bottom: 1px solid #000;

    &__logo-link {
        margin-right: 20px;
    }

    &__logo {
        width: 32px;
        height: 32px;
    }

    &__main-menu {
        flex: 1;
    }
}
